:root {
    --tab-primary: #47a3da;
    --tab-secondary: #becbd2;
    --tab-hover: #768e9d;
}
.tabs  {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 300;
}

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid var(--tab-secondary);
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}

.tabs nav li.tab-current {
    border: 1px solid var(--tab-primary);
    box-shadow: inset 0 2px var(--tab-primary);
    border-bottom: none;
    z-index: 100;
}
.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	  content: '';
	  position: absolute;
	  height: 1px;
	  right: 100%;
	  bottom: 0;
	  width: 1000px;
	  background: var(--tab-primary);
}

.tabs nav li.tab-current:after {
	  right: auto;
	  left: 100%;
	  width: 4000px;
}

.tabs nav a {
	  color: var(--tab-secondary);
	  display: block;
	  font-size: 1.45em;
	  line-height: 2.5;
	  padding: 0 1.25em;
	  white-space: nowrap;
    text-decoration: none;
}

.tabs nav a:hover {
	  color: var(--tab-hover);
}

.tabs nav li.tab-current a {
	  color: var(--tab-primary);
}

/* Icons */
.tabs nav a:before {
	  display: inline-block;
	  vertical-align: middle;
	  text-transform: none;
	  font-weight: normal;
	  font-variant: normal;
	  font-family: 'icomoon';
	  line-height: 1;
	  speak: none;
	  -webkit-font-smoothing: antialiased;
	  margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
	  font-size: 1.25em;
	  padding: 3em 1em;
	  display: none;
	  max-width: 1230px;
	  margin: 0 auto;
}

.content section:before,
.content section:after {
	  content: '';
	  display: table;
}

.content section:after {
	  clear: both;
}

.content section.content-current {
	  display: block;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	  .tabs nav a span {
		    display: none;
	  }

	  .tabs nav a:before {
		    margin-right: 0;
	  }
}

@media screen and (max-width: 32em) {
	  .tabs nav ul,
	  .tabs nav ul li a {
		    width: 100%;
		    padding: 0;
	  }

	  .tabs nav ul li {
		    width: 20%;
		    width: calc(20% + 1px);
		    margin: 0 0 0 -1px;
	  }

	  .tabs nav ul li:last-child {
		    border-right: none;
	  }
}
