<div class="container">
  <header class="clearfix">
    <h1>Responsive Full width tabs</h1>
  </header>
  {{#fullwidth-tabs as |tab|}}

    {{#tab.pane title="Shop" icon="shop"}}
		  <div class="mediabox">
			  <img src="img/01.png" alt="img01">
			  <h3>Sushi Gumbo Beetroot</h3>
			  <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/02.png" alt="img02">
			  <h3>Pea Sprouts Fava Soup</h3>
			  <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/03.png" alt="img03">
			  <h3>Turnip Broccoli Sashimi</h3>
			  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
		  </div>

    {{/tab.pane}}

    {{#tab.pane title="Drinks" icon="cup"}}
      <div class="mediabox">
			  <img src="img/04.png" alt="img01">
			  <h3>Sushi Gumbo Beetroot</h3>
			  <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/05.png" alt="img02">
			  <h3>Pea Sprouts Fava Soup</h3>
			  <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/06.png" alt="img03">
			  <h3>Turnip Broccoli Sashimi</h3>
			  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
		  </div>
    {{/tab.pane}}

    {{#tab.pane title="Food" icon="food"}}
      <div class="mediabox">
			  <img src="img/01.png" alt="img01">
			  <h3>Sushi Gumbo Beetroot</h3>
			  <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/02.png" alt="img02">
			  <h3>Pea Sprouts Fava Soup</h3>
			  <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/03.png" alt="img03">
			  <h3>Turnip Broccoli Sashimi</h3>
			  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
		  </div>
    {{/tab.pane}}

    {{#tab.pane title="Lab" icon="lab"}}
      <div class="mediabox">
			  <img src="img/04.png" alt="img01">
			  <h3>Sushi Gumbo Beetroot</h3>
			  <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/05.png" alt="img02">
			  <h3>Pea Sprouts Fava Soup</h3>
			  <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/06.png" alt="img03">
			  <h3>Turnip Broccoli Sashimi</h3>
			  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
		  </div>
    {{/tab.pane}}

    {{#tab.pane title="Order" icon="truck"}}
      <div class="mediabox">
			  <img src="img/01.png" alt="img01">
			  <h3>Sushi Gumbo Beetroot</h3>
			  <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/02.png" alt="img02">
			  <h3>Pea Sprouts Fava Soup</h3>
			  <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		  </div>
		  <div class="mediabox">
			  <img src="img/03.png" alt="img03">
			  <h3>Turnip Broccoli Sashimi</h3>
			  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
		  </div>
    {{/tab.pane}}

  {{/fullwidth-tabs}}

</div>
